DATABASE_URL=postgresql://postgres:postgres@localhost:5432/telence
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://d.telence.com
SCOPES=read_orders,read_customers,write_app_proxy,write_pixels,read_customer_events
TELENCE_PIXEL_ENDPOINT=https://d.telence.com/pixel/e
NODE_ENV=development
